- const title = "About"
doctype html
html(lang="fr")
    include includes/head.pug
    body 
        h1 This is the About page
        ul
            li
                a(href="/") Home
            li
                a(href="about") about