- const title = "Home"
doctype html
html(lang="fr")
    include includes/head.pug
    body 
        h1 Welcome home, guest
        ul
            li
                a(href="index") Home
            li
                a(href="about") about